html, body {
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 50px;
}

.logo{
  color: #2A363B;
  font-weight: bold;
  font-size: 4em;
  margin-bottom: 0px;
}

.subtitle{
  font-size: 20px;
}

.login-box {
  max-width: 450px;
  border-radius: 5px;
  padding: 50px;
  margin-top: 75px;
  margin-bottom: 75px;
  background-color:white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.etiqueta{ display:none; }

.form-control{
  border-radius:5px;
  padding: 10px 0 10px 15px;
  margin-bottom: 25px;
  font-size:14px;
}

.btn.btn-default.dropdown-toggle, .form-control{
  height: 45px;
}

.btn.btn-default.btn-block{
  margin-top: 30px;
  border-radius: 7px;
  height: 50px;
  background-color: #519548;
  color: white;
  font-size: 16px;
}
